<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814319974870-9al9gmd8dcm3u1d098ec77rpcecg6q9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814319974870-9al9gmd8dcm3u1d098ec77rpcecg6q9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDyM_fH0lM6ZuXPHkxlYmFG8Bg5UfA4-9o</string>
	<key>GCM_SENDER_ID</key>
	<string>814319974870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keyri.FirebaseKeyriServerside</string>
	<key>PROJECT_ID</key>
	<string>keyri-firebase-server-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>keyri-firebase-server-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814319974870:ios:45fa31716d0cf6fd998c77</string>
</dict>
</plist>